# Virtual environment
venv/

# Logs
*.log
race_control_log.txt

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# Streamlit
.streamlit/

# JSON data files (only keep mock)
*.json
!data/mock_live_timing.json

# System files (optional)
.DS_Store
Thumbs.db
