# Ignore virtual environment
venv/

# Ignore log files
*.log

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# Ignore Streamlit files
.streamlit/

# Ignore data if needed
*.json